<p style = "display:inline-block;">頭文字検索</p>
	<% @title_heads = [ "あ", "か", "さ", "た", "な", "は", "ま", "や", "ら", "わ"] %>
	<% for title_head_num in 1..10 do %>
		<div class="dropdown" style = "display:inline-block;">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
				<%= @title_heads[title_head_num - 1] %>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<% doramas.where(title_head_id: title_head_num).each do |dorama| %>
					<li role="presentation"><%= link_to dorama.name, dorama_title_search_path(id: dorama.id, dorama_name: dorama.name) %></li>
				<% end %>
			</ul>
		</div>
	<% end %>