<html>
  <head>
    <style>
    .cd_position {
      padding-right: 10px;
    }
    .cd_position:last-child {
     padding-right: 0px;
    }
    </style>
  </head>
<body>
<div class="container">
    <% @doramas.each do |dorama| %>
    <table>
    	<tbody>
    		<tr class="cd_position">
                <img src="/assets/no_image.jpeg", width="200px" height="200px">  
                <td>ドラマ名:<%= dorama.name %></td>
                <td>CD:<%= dorama.cd_product.name %>
    		</tr>
    	</tbody>
    </table>
<% end %>
    </div>


</body>
</html>

