<html>
<head>
<style>
.title_background_image{
  background-image:  url(/assets/dorama_top.jpeg);
  background-size: cover;
}
</style>
</head>
<body>
	<!-- 頭文字検索 -->
	<div class="btn-toolbar" role="toolbar">
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-default">頭文字検索</button>
			<button type="button" class="btn btn-default">あ</button>
			<button type="button" class="btn btn-default">か</button>
			<button type="button" class="btn btn-default">さ</button>
			<button type="button" class="btn btn-default">た</button>
			<button type="button" class="btn btn-default">な</button>
			<button type="button" class="btn btn-default">は</button>
			<button type="button" class="btn btn-default">ま</button>
			<button type="button" class="btn btn-default">や</button>
			<button type="button" class="btn btn-default">ら</button>
			<button type="button" class="btn btn-default">わ</button>
		</div>
	</div>
	<!-- タイトル部分 -->
	<div class="jumbotron title_background_image">
		<h1 style="color:white">ドラマ音楽トップ</h1>
		<p style="color:white"><%= link_to "最新ドラマ情報はコチラ", root_path %></p>
	</div>
	<!-- 映画CD一覧 -->
	<h3>ドラマ音楽CD一覧</h3>
	<table class="table">
		<tbody>
			<tr>
				<td><img src="/assets/dorama_top.jpeg">
					<p>CD名</p>
					<p>アーティスト名</p>
					<p>リリース日</p>
					<p>ドラマ名</p>
				</td>
				<td><img src="/assets/dorama_top.jpeg">
					<p>CD名</p>
					<p>アーティスト名</p>
					<p>リリース日</p>
					<p>ドラマ名</p>
				</td>
				<td><img src="/assets/dorama_top.jpeg">
					<p>CD名</p>
					<p>アーティスト名</p>
					<p>リリース日</p>
					<p>ドラマ名</p>
				</td>
			</tr>
			<tr>
				<td><img src="/assets/dorama_top.jpeg">
					<p>CD名</p>
					<p>アーティスト名</p>
					<p>リリース日</p>
					<p>ドラマ名</p>
				</td>
				<td><img src="/assets/dorama_top.jpeg">
					<p>CD名</p>
					<p>アーティスト名</p>
					<p>リリース日</p>
					<p>ドラマ名</p>
				</td>
				<td><img src="/assets/dorama_top.jpeg">
					<p>CD名</p>
					<p>アーティスト名</p>
					<p>リリース日</p>
					<p>ドラマ名</p>
				</td>
			</tr>
			<tr>
				<td><img src="/assets/dorama_top.jpeg">
					<p>CD名</p>
					<p>アーティスト名</p>
					<p>リリース日</p>
					<p>ドラマ名</p>
				</td>
				<td><img src="/assets/dorama_top.jpeg">
					<p>CD名</p>
					<p>アーティスト名</p>
					<p>リリース日</p>
					<p>ドラマ名</p>
				</td>
				<td><img src="/assets/dorama_top.jpeg">
					<p>CD名</p>
					<p>アーティスト名</p>
					<p>リリース日</p>
					<p>ドラマ名</p>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- ページャー -->
</body>
</html>


