<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="cart.css">
	<title>ショッピングカート</title>
</head>
<body>
	<div class="shopping_cart">
		<div class="cart_item">
			<p>ここにカートの商品だす処理ループ書かなきゃいけない</p>
		</div>
		<button>カートを空にする</button>
		<div class="cart_button">
			<%= link_to "ショッピングを続ける", cd_products_path %>
			
		</div>
	</div>

</body>
</html>