<html>
  <head>
    <style>
    .cd_position {
      padding-right: 10px;
    }
    .cd_position:last-child {
     padding-right: 0px;
    }
    </style>
  </head>
<body>
  <div class="container">
<!-- 検索フォーム -->
  	<div class="input-group">
  <input type="text" class="form-control" placeholder="アーティスト、曲名を入力">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="submit">
      <i class='glyphicon glyphicon-search'></i>
    </button>
  </span>
</div>
    <div class="well well-sm">XXXを含む検索結果Y件</div>
<!-- CD一覧 -->
	<table>
		<tbody>
			<tr>
				<td class="cd_position"><img src="/assets/no_image.jpeg", width="200px" height="200px">
					<p>CD名</p>
					<p>アーティスト名</p>
				</td>
				<td class="cd_position"><img src="/assets/no_image.jpeg", width="200px" height="200px">
					<p>CD名</p>
					<p>アーティスト名</p>
				</td>
				<td class="cd_position"><img src="/assets/no_image.jpeg", width="200px" height="200px">
					<p>CD名</p>
					<p>アーティスト名</p>
				</td>
				<td class="cd_position"><img src="/assets/no_image.jpeg", width="200px" height="200px">
					<p>CD名</p>
					<p>アーティスト名</p>
				</td>
			</tr>
			<tr>
				<td class="cd_position"><img src="/assets/no_image.jpeg", width="200px" height="200px">
					<p>CD名</p
					<p>アーティスト名</p>
				</td>
				<td class="cd_position"><img src="/assets/no_image.jpeg", width="200px" height="200px">
					<p>CD名</p
					<p>アーティスト名</p>
				</td>
				<td class="cd_position"><img src="/assets/no_image.jpeg", width="200px" height="200px">
					<p>CD名</p
					<p>アーティスト名</p>
				</td>
				<td class="cd_position"><img src="/assets/no_image.jpeg", width="200px" height="200px">
					<p>CD名</p
					<p>アーティスト名</p>
				</td>
			</tr>
			<tr>
				<td class="cd_position"><img src="/assets/no_image.jpeg", width="200px" height="200px">
					<p>CD名</p>
					<p>アーティスト名</p>
				</td>
				<td class="cd_position"><img src="/assets/no_image.jpeg", width="200px" height="200px">
					<p>CD名</p>
					<p>アーティスト名</p>
				</td>
				<td class="cd_position"><img src="/assets/no_image.jpeg", width="200px" height="200px">
					<p>CD名</p>
					<p>アーティスト名</p>
				</td>
				<td class="cd_position"><img src="/assets/no_image.jpeg", width="200px" height="200px">
					<p>CD名</p>
					<p>アーティスト名</p>
				</td>
			</tr>
		</tbody>
	</table>
<!-- ペジャー -->
  <ul class="pagination, pager">
    <li><a href="#"><</a></li>
    <li><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">></a></li>
  </ul>
</div>
</body>
</html>



