<html>
  <head>
  </head>
  <body>
<!-- CD詳細 -->
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-3">
            <img src="/assets/no_image.jpeg", width="350px" height="350px">
          </div>
        <div class="col-xs-7">
          <table class="table table-striped">
  	          <thead></thead>
  	          <tbody>
  	  	        <tr>
  	  	          <td>タイトル</td>
  	  	          <td>ピースサイン＜通常盤＞</td>
  	  	          <td></td>
  	  	        </tr>
  	  	        <tr>
  	  	          <td>アーティスト</td>
  	  	          <td>米津玄師</td>
  	  	          <td></td>
  	  	        </tr>
  	            <tr>
  	  	          <td>価格（税込）</td>
  	  	          <td>￥1080</td>
  	  	          <td>在庫あり/soldout</td>
  	  	        </tr>
  	        </tbody>
          </table>
          <button type="button" class="btn btn-danger btn-lg">カートに入れる</button>
          <button type="button" class="btn btn-warning btn-lg">お気に入りに追加</button>
          <table class="table table-bordered">
          	  <thead></thead>
          	  <tbody>
          	  	<tr>
          	  	  <td>発売日</td>
          	  	  <td>2018/11/11</td>
          	  	</tr>
            	<tr>
          	  	  <td>ジャンル</td>
          	  	  <td>J-POP</td>
          	  	</tr>
           	  	<tr>
          	  	  <td>レーベル</td>
          	  	  <td>Sony Music</td>
          	  	</tr>
          	  </tbody>
          </table>
          </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="row">
      <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <table class="table table-hover">
            <thead>
              <tr>
            	<th>収録曲</th>
              </tr>
            </thead>
            <tbody>
              <tr>
            	  <td>1</td>
            	  <td>ピースサイン</td>
              </tr>
              <tr>
            	<td>2</td>
            	<td>Neighbourhood</td>
              </tr>
              <tr>
            	<td>3</td>
            	<td>ゆめくいしょうじょ</td>
              </tr>
              <tr>
            	<td>4</td>
            	<td>ピースサイン (Instrumental)</td>
              </tr>
            </tbody>
          </table>
<!-- CD詳細ここまで -->

<!-- 映画、ドラマ、CM情報 -->
          <div class="well well-sm">アーティスト関連情報</div>
<!-- 映画、ドラマ、CM情報ここまで -->

<!-- 関連楽曲 -->
          <div class="well well-sm">このアーティストの関連楽曲</div>
            <table>
              <thead></thead>
              <tbody>
            	<tr>
              	  <td>
              	  	<img src="/assets/no_image.jpeg", width="200px" height="200px">
					<p>CD名</p>
					<p>アーティスト名</p>
				  </td>
	         	  <td>
              	  	<img src="/assets/no_image.jpeg", width="200px" height="200px">
					<p>CD名</p>
					<p>アーティスト名</p>
				  </td>
				  <td>
              	  	<img src="/assets/no_image.jpeg", width="200px" height="200px">
					<p>CD名</p>
					<p>アーティスト名</p>
				  </td>
	         	  <td>
              	  	<img src="/assets/no_image.jpeg", width="200px" height="200px">
					<p>CD名</p>
					<p>アーティスト名</p>
				  </td>
				  <td>
              	  	<img src="/assets/no_image.jpeg", width="200px" height="200px">
					<p>CD名</p>
					<p>アーティスト名</p>
				  </td>
            	</tr>
              </tbody>
            </table>
<!-- 関連楽曲ここまで -->

        </div>
        <div class="col-xs-1"></div>
      </div>
  </body>
</html>