<%= render partial: 'cd_products/header' %>
  <div class="main clearfix">
	<div class="main-content">
		<%= render partial: 'cd_products/songs_search' %>
	</div>
	<%= render partial: 'cd_products/sidebar' %>
  </div>
  <%= render partial: 'cd_products/footer' %>
