<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<%= form_for(@user) do |f| %>
 	<div>
        <label>ユーザーネーム</label>
        <%= f.text_field :name %>
    </div>
    <div>
        <label>メールアドレス</label>
        <%= f.text_field :email %>
    </div>
 <%= f.submit "変更を保存", class:"btn" %>
<% end %>
