<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-xs-8">
				<div class="unsubscribe-wrapper">
					<h3>退会フォーム</h3>
					<div class="unsubscribe-head">
						<h3>退会について</h3>
					</div>
					<div class="unsubscribe-main">
						<h3>退会ボタンよりご退会よりご退会いただけます。 <br>退会されますと購入履歴の閲覧、お気に入りの閲覧及び当サイトでの各種検索機能の利用、商品の購入等がご利用できなくなります。 <br>予めご了承くだいさい。
						</h3>
					</div>
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#sampleModal">退会する</button>
					<!-- モーダル・ダイアログ -->
					<div class="modal fade" id="sampleModal" tabindex="-1">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
									<h4 class="modal-title">本当に退会してよろしいですか？</h4>
								</div>
								<div class="modal-body">
									<h3 class="btn btn-warning">はい</h3><h3 class="btn btn-primary">いいえ</h3>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
									<button type="button" class="btn btn-primary">ボタン</button>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>