<h1>AddressLines#index</h1>
<p>アドレスライン一覧</p>
<% @addresslines.each do |addressline| %>
<table>
	<thead>
		<tr>
			<th>郵便番号</th>
			<th>区・市・町・村</th>
			<th>建物名・番地</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= addressline.postcode %></td>
			<td><%= addressline.city %></td>
			<td><%= addressline.address %></td>
		</tr>
	</tbody>
</table>
<% end %>
