
<!DOCTYPE>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>ユーザー一覧</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<table class="table table_striped">
				<h1>ユーザー一覧</h1>
				<div class="col-lg4">
					<tr>
						<th>ID</th>
						<th>名前</th>
						<th>電話</th>
						<th>メール</th>
						<th>住所</th>
					</tr>
				</div>
				<div class="col-lg4">
					<tr>

					</tr>
				</div>
				<div class="col-lg4">
					<tr>
					</tr>
				</div>
			</table>
		</div>
	</div>
</body>
</html>