
<!DOCTYPE>
<html lang="ja">

<head>
	<meta charset="UTF-8">

</head>
<body>
	<div class="container">
		<div class="row">
			<table class="table table_striped">
				<h1>管理者専用ページ</h1>
				<div class="col-lg4">
					<tr>
						<th>ユーザー関連</th>
						<td><button>ユーザー一覧</button></td>
						<td><button>ユーザーごとの購入ステータス変更</button></td>
					</tr>
				</div>
				<div class="col-lg4">
					<tr>
						<th>商品(CD)関連</th>
						<td><button>商品一覧</button></td>
						<td><button>アーティスト一覧</button></td>
					</tr>
				</div>
				<div class="col-lg4">
					<tr>
						<th>検索カテゴリ関連</th>
						<td><button>映画一覧</button></td>
						<td><button>ドラマ一覧</button></td>
						<td><button>CM一覧</button><button>会社名追加</button></td>
					</tr>
				</div>
			</table>
		</div>
	</div>
</body>
</html>